 @import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 80% auto;

  background-color: rgb(163, 178, 196);
  color: black;
  font-size: 1rem;
}

.menu {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  min-height: 5vh;
  margin: 3vh;
}

.menu li {
  list-style-type: none;
  margin: 1.5vh;

}

.menu li:hover {
  background-color: rgba(157, 145, 73, 1);
  color: white;
}

.dropDownOpen {
  display: block;
  position: absolute;
  background-color: rgba(222, 209, 132, .9);
  border-radius: 1vh;

}

.dropDownClosed {
  display: none;
}

.shapes {
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  min-height: 15vh;
}

.tools {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  font-size: .8rem;
}

.tools input {
  width: 95%;
}
.tools button img {
  height: 40px;
  width: 40px;

  display: block;
}

.controls {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.controls form {
  margin: 0 auto;
  font-size: 1.7vh;
}

.board {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  min-width: 80%;
  min-height: 80vh;
  background-color: rgb(15, 48, 64);
}

.board div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected {
  outline: 1px dashed black;
}

.svgResult {
  padding: 1vw;
  color: white;
  position: absolute;
  background-color: black;
  column-rule-color: white;
  z-index: 2;
  top: 100px;
  left: 100px;
  min-width: 80vw;
  min-height: 70vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.svgResultShow {
  display: flex;
}

/* #backBoard {
  width: 100%;
  height: 80vh;
} */

#drawingBoard {
  background-color: white;
  display: block;
  margin: auto;
}

.logo {
  margin: 2vh;
  font-family: 'Orbitron', sans-serif;
}
