body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 80% auto;

  background-color: rgb(163, 178, 196);
  color: black;
  font-size: 1rem;
}

.menu {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  min-height: 5vh;
}

.menu ul {
  list-style-type: none;
}

.dropDownOpen {
  display: block;
  z-index: 2;
  position: absolute;
  background-color: rgba(222, 209, 132, .9);
}

.dropDownClosed {
  display: none;
}

.shapes {
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  min-height: 15vh;
}

.tools {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.tools button img {
  height: 40px;
  width: 40px;

  display: block;
}

.controls {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.board {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  min-width: 80%;
  min-height: 80vh;

  background-color: rgb(168, 193, 203);
}

.board div {
  display: flex;
  align-items: center;
}

.board svg {
  background-color: white;
  z-index: 2;
}
